/* шрифты
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  padding: 0;
  font-family: roboto;
  width: 100%;
  height: calc(100vh - 5em);
}

.wrapper {
  overflow: hidden;
  height: 100vh;
  overflow-y: scroll;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(
    to left,
    rgb(203, 17, 171) 0px,
    rgb(72, 17, 115) 100%
  );
  margin: 0 0 30px 0;
  height: 106px;
  display: flex;
  align-items: center;
}

.headerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 50px;
  margin-bottom: 10px;
}

.header_logo img {
  width: 100%;
}

.input-serch {
  font-size: 18px;
  line-height: 24px;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
  color: rgba(255, 255, 255, 0.5);
  width: 50%;
  padding: 16px 120px 16px 44px;
  margin: 0;
  border-radius: 56px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-serch:hover {
  background: rgba(255, 255, 255, 0.5);
}

.input-serch:focus {
  color: #242424;
  background: #fff;
}

.shopping-cart {
  background: url(./img/basket_17.svg) no-repeat left/contain;
  width: 60px;
  height: 30px;
}

.navitems {
  list-style: none;
  display: none;
}

.navitem {
  font-size: 20px;
  margin: 5px 0;
}

.burgermenu {
  display: block;
  width: 24px;
  padding: 4px 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.burgermenu_toggle {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 0.2s linear;
}

.burgermenu_toggle::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
  bottom: -6px;
}

.burgermenu_toggle::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
  bottom: 6px;
}

.navitems.active {
  display: block;
  position: absolute;
  background: white;
  border: 1px solid;
  padding: 0 10px 0 20px;
  border-top: none;
  top: 50px;
  z-index: 10;
}

.burgermenu.active .burgermenu_toggle {
  background: none;
}

.burgermenu.active .burgermenu_toggle::before {
  transform: rotate(45deg) translateX(-2px);
  transform-origin: left top;
}

.burgermenu.active .burgermenu_toggle::after {
  transform: rotate(-45deg) translateX(-3px);
  transform-origin: left bottom;
}

/*--корзина - модальное окно-------*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal .modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 33%;
  min-height: 100%;
  z-index: 99999;
  min-width: 412px;
}

.close_modal_window {
  position: relative;
  cursor: pointer;
}

.card_buying {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.card_image img {
  width: 60px;
  border-bottom: 3px solid #676767;
}

.close_modal_window::before {
  width: 4px;
  height: 28px;
  transition: background 0.3s ease 0s;
  background-color: #cb11ab;
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 61.8%;
  left: 65%;
}

.close_modal_window::after {
  width: 28px;
  height: 4px;
  transition: background 0.3s ease 0s;
  background-color: #cb11ab;
  border-radius: 4px;
  content: "";
  display: block;
  position: absolute;
  top: 61.8%;
  left: 65%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.card_btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #cb11ab;
  font-size: 30px;
  margin: 20px;
}

.modaltitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #610c5b;
}

.modal.active {
  display: block;
}

.cartshop-title {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 5px solid #cb11ab;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.deletAll {
  background-color: #cb11ab;
  border: 2px solid #cb11ab;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 8px 24px 10px;
}

.card_basket {
  width: 50%;
  border-bottom: 3px solid rgb(103, 103, 103);
}

/* .slider */

.slider-container {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  width: 98%;
  margin: auto;
}

.slider-track {
  display: flex;
  background-color: yellow;
  transition: 0.2s;
}

.slider-item img {
  object-fit: cover;
  height: 370px;
  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
  display: block;
  max-width: 100%;
}

.slider-item {
  background: #000;
  overflow: hidden;
}

.slider-item:hover img {
  opacity: 0.5;
  transform: scale(1.05);
}

.slider-buttons {
  text-align: center;
  display: flex;
  justify-content: space-between;
  bottom: 47%;
  position: absolute;
  width: 100%;
}

.btn-next,
.btn-prev {
  margin: 0 15px 0 15px;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 12px rgb(0 0 0 / 10%);
}

.btn-prev:hover {
  opacity: 0.5;
  background-color: white;
}

.btn-next:hover {
  opacity: 0.5;
  background-color: white;
}

.title {
  font-size: 24px;
  line-height: 32px;
  margin: 20px 0 10px 15px;
  font-weight: 800;
}

/* ------------- card_list --------------- */
.card {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto 0 auto;
  justify-content: center;
}

.card_list {
  width: 180px;
  margin: 0 10px 15px 10px;
  position: relative;
}

.card_list:hover .btn_quick_view {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.price_text {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
}

.priceDiscount_text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #242424;
  padding: 10px 0 0 0;
}

.name_text {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.btn_get_basket {
  background-color: #cb11ab;
  border: 2px solid #cb11ab;
  border-radius: 20px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  width: 90%;
  font-size: 11px;
  padding: 8px 24px 8px;
  margin: 10px 10px;
}

.btn_get_basket:hover {
  background-color: #e313bf;
  border-color: #e313bf;
}

.btn_quick_view {
  font-size: 12px;
  transition: all 0.3s ease 0s;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 11px;
  border: none;
  white-space: nowrap;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  position: absolute;
  left: 15%;
  top: 25%;
  opacity: 0;
}

@media (max-width: 992.98px) {
  .header_logo {
    display: none;
  }
}

.card_list.active {
  transform: scale(1.7);
  border: 1px solid;
  z-index: 2;
  background: #ffff;
  border-radius: 10px;
  position: absolute;
  top: 300px;
  z-index: 5;
}

.preview-back {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  display: none;
  z-index: 2;
  background: rgba(16, 16, 16, 0.6);
}

.preview-back.active {
  display: block;
}
